.child-nav::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 28px;
  top: -8px;
  transform: rotate(45deg);
  z-index: 1;
  background: white;
  border-top: 1px solid #f5ecfb;
  border-left: 1px solid #f5ecfb;
}

.child-nav {
  display: none;
}

.parent-nav:hover .child-nav {
  display: block;
}

.child-nested-nav {
  display: none;
}

.nested-nav:hover > .child-nested-nav {
  display: flex;
  flex-direction: column;
}

@keyframes bell-jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes count-jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.menu-custom:hover {
  animation: bell-jump 0.5s ease-in-out;
}

.menu-custom:hover::after {
  animation: count-jump 0.5s ease-in-out;
}

.sidebar {
  width: 300px;
  right: 0;
  z-index: 1001;
  position: fixed;
  transform: translateX(100%);
  background-color: #fff;
  //   transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: none;
}

.show-sidebar {
  animation: slideIn 0.5s ease forwards;
}

.hide-sidebar {
  animation: slideOut 0.5s ease forwards;
}

.sidebar .side-inner {
  padding: 30px 0;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar .profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.sidebar .profile img {
  width: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
}

.sidebar .profile .name {
  font-size: 18px;
  margin-bottom: 0;
}

.sidebar .profile .country {
  font-size: 14px;
  color: #cfcfcf;
}

.sidebar .counter {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
  text-align: center;
}

.sidebar .counter .col .number {
  display: block;
  font-size: 20px;
  color: #000;
}

.sidebar .counter .col .number-label {
  color: #cfcfcf;
}

.sidebar .nav-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar .nav-menu ul li a {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8b8b8b;
  position: relative;
  transition: 0.3s padding-left ease;
}

.sidebar .nav-menu ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  background-color: #ff7315;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s width ease;
}

.sidebar .nav-menu ul li a:hover {
  background: #efefef;
  color: #000;
}

.sidebar .nav-menu ul li a:hover:before {
  width: 4px;
  opacity: 1;
  visibility: visible;
}

.sidebar .nav-menu ul li.active a {
  background: #efefef;
  color: #000;
}

.sidebar .nav-menu ul li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 4px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
